<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <title>Four Zero Four</title>
</head>
<body>
  <div class="container">
    <br>
    <br>
    <br>
    <h2>404</h4>
    <h4>Through whatever inexplicable means you arrived here by, I'm afraid the page you may or may not have been trying to retrieve literally doesnt exist. Return <a href="/">Home</a>?</h4>
  </div>
</body>
</html>
